.button {
	display: inline-block;

	padding: 10px;

	text-align: center;

	border: none;
	border-radius: 5px;

	font-size: 14px;
}

.primary {
	color: var(--light);
	background: var(--primary);
}

.primary:hover {
	background: var(--primary-hover);
}

.ghost {
	color: var(--dark);
	border: 1px solid var(--light-gray);
	background: none;
}

.primary svg,
.ghost:hover svg {
	fill: var(--light);
}

.ghost:hover {
	transition: background 0.2s linear;

	color: var(--light);
	background: var(--primary);
}

.arrow {
	display: inline-block;

	margin-left: 10px;
}

.down {
	transition: transform 0.2s;
	transform: rotate(90deg);
}
